.Main{
   height: 100vh;
   overflow: hidden;
    .Main__LeftSideBar{

        .Main__Container{
            min-width: 300px;
        }
    }

    .Main__MessageBox{
        width: 100%;
        min-width: 426px;
    }
}

