.ContactBar {
  background-color:#7ac5f0;
  overflow: hidden;
  height: 60px;

  .ListBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    ul{
        list-style: none;
        li{
            margin-right: 12px;
        }
    }
    .ContactBar__Avatar {
        margin-left: 12px;
        width: 60px;
    }
    .ContactBar__Menu {
      margin: 0;
      display: flex;
      .ContactBar__Call {
       
      }
      .ContactBar__VideoCall {
       
      }
      .ContactBar__Info {
       
      }
    }
  }
}
