.Container {
  .Header {
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    h3 {
      font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
      margin-bottom: 10px;
    }

    h4 {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
      color: #647589;
      margin-top: 0;
    }

    img {
      width: 100px;
      height: 100px;
      margin-top: 10px;
    }
  }
  .Form-content{
      .Form{
        .BackHome{
            .LinkResetPassword{
                color:#7289da;
                text-align: right;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        
      }
  }
}

@media screen and (min-width: 600px) {
  .bg-svg {
    background-image: url(../../../../assets/images/background.svg);
    position: absolute;
    top:0;
    bottom: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 600px) {
  .Container {
    width: 100%;
  }
  .bg-svg {
    display: none;
  }
}
